# =============================================
# Порты микросервисов
# =============================================
ORDER_SERVICE_PORT=8080
INVENTORY_SERVICE_PORT=8081
NOTIFICATION_SERVICE_PORT=8082

# =============================================
# Порты инфраструктуры
# =============================================
DB_ORDER_PORT=5432
DB_INVENTORY_PORT=5433
DB_NOTIFICATION_PORT=5434

KAFKA_PORT=9092

# =============================================
# LGTM стек (Grafana + Loki + jaeger + Prometheus)
# =============================================
GRAFANA_PORT=3000
LOKI_PORT=3100
PROMETHEUS_PORT=9091
JAEGER_UI_PORT=16686
OTEL_COLLECTOR_OTLP_HTTP_PORT=4318
OTEL_COLLECTOR_OTLP_GRPC_PORT=4317
OTEL_COLLECTOR_PROMETHEUS_PORT=8889

# =============================================
# Учётные данные БД
# =============================================
DB_USERNAME=admin #change
DB_PASSWORD=admin #change
DB_ORDER_NAME=orders_db
DB_INVENTORY_NAME=products_db
DB_NOTIFICATION_NAME=notifications_db

# =============================================
# Grafana
# =============================================
GRAFANA_ADMIN_USER=admin #change
GRAFANA_ADMIN_PASSWORD=admin #change

# =============================================
# OTel agent
# =============================================
OTEL_AGENT_VERSION=2.31.1

# =============================================
# Адреса внутри Docker сети
# =============================================
KAFKA_HOST=kafka
PROMETHEUS_HOST=prometheus
LOKI_HOST=loki
GRAFANA_HOST=grafana
OTEL_COLLECTOR_HOST=otel-collector
ORDER_SERVICE_HOST=order-service
INVENTORY_SERVICE_HOST=inventory-service
NOTIFICATION_SERVICE_HOST=notification-service
DB_ORDER_HOST=postgres-order
DB_INVENTORY_HOST=postgres-inventory
DB_NOTIFICATION_HOST=postgres-notification

# =============================================
# JWT (для сервисов в Docker)
# =============================================
JWT_SECRET=paJJLVg0HrbiyQVPHCZPcf36CvDc8lekDRLDYP6NIep440LFRzzUWKScvVBspXln #change